body {
    margin:0px;
    padding:0px;
}
#header{
    background-color:black;
    color:gold;
    text-align:justify;
    text-underline-position:under;
    font-size:25px;
    font-family:Algerian;
}
.mySlides {
    display:none;
    background-size:cover;
    border-radius:15px;
    background-repeat:no-repeat;
    overflow:hidden;
    height:500px;
}
.hero-text {
    font-size:900px;
    font-family:Algerian;
    text-align:left;
    position: absolute;
    top: 40%;
    left:100px;
    color:mintcream;
    text-shadow:2px,black;
}
#nav {
    background-color: darkolivegreen;
    color: gold;
}
.NavBar{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
    background-color:white;
    padding:15px;
}
.NavBar a{
    text-decoration:none;
    color:inherit;
}
.LOGO{
    margin-right:50px;

}
.list {
    list-style: none;
    display: flex;
    gap: 25px;
}
#toggler,.NavBar-label{
    display:none;
}
#cont {
    display:flex;
    font-size:36px;
    text-shadow:2px;
    width:450px;
    margin:15px;
    margin-left:32%;
    align-content:center;
    justify-content:space-evenly;
}
i:hover{
    color:lightseagreen;

}

 h2 {
    font-size: 50px;
    text-align:center;
    color:seagreen;
    margin-bottom: 10px;
    }

 p {
        font-size:20px;
        word-spacing:3px;
        margin-bottom:10px;
    }

.service :is(.section-title, .section-text) {
    text-align: center;
}

.service .section-text {
    margin-block: 15px 16px;
}

.service-list {
    display:flex;
    gap: 30px;
}

.service-card {
    text-align: center;
    border-radius: 10px;
    transition: .3s;
    padding: 10px;
}

    .service-card:hover {
        box-shadow: var(--shadow-5);
    }

    .service-card .card-icon {
        background-color: var(--mint-cream);
        width: 100px;
        height: 100px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        margin-inline: auto;
    }

        .service-card .card-icon ion-icon {
            font-size: 30px;
            color: var(--green-pigment);
            --ionicon-stroke-width: 45px;
        }

    .service-card .card-title {
        margin-block: 25px 12px;
    }

    .service-card .card-text {
        line-height: 1.6;
    }

h3{
    text-align:center;

}
body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    outline: 5px solid #f2f2f2;
    outline-offset: 1.5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    margin-right:40%;
    color:white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

 input[type=submit]:hover {
       background-color: #45a049;
    }

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
#footer {
    text-align: center;
    background-color: ghostwhite;
    color: black;
    font-size: 18px;
}

